@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f1e6d4;
  --secondary: #f5b96b ;
  --accent: #c97c5d;
  --text: #3d2c2a;
  --success: #a6c48a;
  --paragraph: #5a4e4b;

}


body {
  color: var(--paragraph);
  background: var(--primary);
}

h1, h2, h3 {
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
